<div class=" col-sm-12 col-md-6 col-lg-4 col-xl-3 tournament-column">
    <a href="">
        <div class="ratio ratio-16-9 radius-8">
            <a href="{{tournament.link}}">
                <div class="pic">
                    <img src="{{tournament.thumbnail.src('full')}}" alt="">
                </div>
            </a>
            <div class="overlay"></div>
        </div>
    </a>
    <h3>{{tournament.start_date}}</h3>
    <a href="{{tournament.link}}">
        <h2>{{tournament.title}}</h2>
    </a>
    <h4>{{tournament.cost}} {{tournament.currency}} &#8226; {{tournament.slots}} slots </h4>
</div>