
@import '01-Helpers/_helpers'
@import '02-plugins/_plugins'
@import '03-components/_components'
@import '04-templates/_templates'
    
#content
    transition: all .2s ease-in-out
    
.blur-2
    filter: blur(2px)

.tournament-table
    
    thead
        tr
            th

            .text-pic
                text-align: center
    tbody
        tr
            th

            td
                
            .img-td
                padding: 0
                position: relative
                div
                    height: 48px
                    overflow: hidden
                    border-radius: 50%
                    display: flex
                    justify-content: center
                    align-items: center

                    img
                        display: block
                        object-fit: cover
                        max-width: 36px
                        max-height: 36px
                        border-radius: 50%

    th,td
        color: #fff

.modal
    .modal-title,
    .modal-body
        color: #000