
img
    max-width: 100%


.btn
    background-color: var(--primary)
    &::hover
        background-color: var(--primary)

.w-100
    width: 100%


.opacity-04
    opacity: .4

.bgf5f5f5 
    background: #f5f5f5 


.admin_acf_product_wrapper
    max-width: 45px !important
    border: 2px wsolid red
    background: red